# {{ ansible_managed }}

# /etc/fuse.conf - Configuration file for Filesystem in Userspace (FUSE)

# Set the maximum number of FUSE mounts allowed to non-root users.
# The default is 1000.
mount_max = {{ s3fs_mount_max }}

# Allow non-root users to specify the allow_other or allow_root mount options.
{% if s3fs_user_allow_other %}
user_allow_other
{% else %}
#user_allow_other
{% endif %}
